*,
*::before *::after {
    box-sizing: border-box;
}

/* Custom Properties */

:root {
    --ff-primary: "Source Sans Pro", sans-serif;
    --ff-secondary: "Source Code Pro", monospace;

    --fw-reg: 300;
    --fw-bold: 900;

    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-accent: #16e0bd;
    --clr-accent-dark: #11a68a;
    --clr-accent-darkest: #0f9179;

    --clr-transparent-light: rgba(255, 255, 255, 0.5);
    --clr-transparent-dark: rgba(0, 0, 0, 0.75);

    --hover-light-color: var(--clr-light);
    --hover-dark-color: var(--clr-accent);

    --gap: 2rem;

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    --item-min-height-sm: 20rem;
    --item-min-height-md: 30rem;

    --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25), 0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
}

@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}

/* General Styles */

html {
    scroll-behavior: smooth;
    max-width: 100%;
    overflow-x: hidden;
}

body {
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}

section {
    padding: 5em 2em;
}

img {
    display: block;
    max-width: 100%;
}

video {
    display: block;
    max-height: 100%;
}

strong {
    font-weight: var(--fw-bold);
}

p {
    text-align: justify;
}

:focus {
    outline: 3px solid var(--clr-accent);
    outline-offset: 3px;
}

/* Buttons */

.btn {
    display: inline-block;
    padding: 0.5em 2.5em;
    background: var(--clr-accent);
    color: var(--clr-dark);
    text-decoration: none;
    cursor: pointer;
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    transition: transform 200ms ease-in-out;
}

.btn:hover {
    transform: scale(1.1);
}

.btnBlock {
    display: block;
    text-align: center;
    padding: 0.5em 2.5em;
    background: var(--clr-dark);
    color: var(--clr-accent);
    text-decoration: none;
    cursor: pointer;
    font-size: 0.95rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    transition: transform 200ms ease-in-out;
}

.btnBlock:hover {
    opacity: 0.5;
}

.btnScroll {
    display: inline-block;
    padding: 0.5em 0.5em;
    background: transparent;
    color: var(--clr-accent);
    cursor: pointer;
    font-size: 3rem;
    border: none;
    outline: none;
    transition: transform 150ms ease-in-out;
}

.btnScroll:hover {
    transform: scale(1.5);
}

/* Typography */

h1,
h2,
h3 {
    line-height: 1;
    margin: 0;
}

h1 {
    font-size: var(--fs-h1);
}
h2 {
    font-size: var(--fs-h2);
}
h3 {
    font-size: var(--fs-h3);
}

.section__title {
    margin-bottom: 0.25em;
}

.section__title--intro {
    font-weight: var(--fw-reg);
}

.section__title--intro strong {
    display: block;
}

.section__subtitle {
    margin: 0;
    font-size: var(--fs-h3);
}

.section__subtitle--intro,
.section__subtitle--about,
.section__article--intro {
    background: var(--clr-accent);
    padding: 0.25em 1em;
    font-family: var(--ff-secondary);
    margin-bottom: 1em;
    text-align: start;
}

.section__subtitle--work {
    color: var(--clr-accent);
    font-weight: var(--fw-bold);
    margin-bottom: 2em;
    margin-top: 2.5em;
    text-align: center;
}

/* header */

header {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.logo {
    max-width: 100px;
}

.nav {
    position: fixed;
    background: var(--clr-dark);
    color: var(--clr-light);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;

    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(0.5, 0, 0.5, 1);
}

.nav__list {
    list-style: none;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav__link {
    color: inherit;
    font-weight: var(--fw-bold);
    font-size: var(--fs-h2);
    text-decoration: none;
}

.nav__link:hover {
    color: var(--clr-accent);
}

.nav-toggle {
    padding: 0.5em;
    background: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 1em;
    top: 1em;
    z-index: 1000;
}

.nav-open .nav {
    transform: translateX(0);
}

.nav-open .nav-toggle {
    position: fixed;
}

.nav-open .hamburger {
    transform: rotate(0.625turn);
}

.nav-open .hamburger::before {
    transform: rotate(90deg) translateX(-6px);
}

.nav-open .hamburger::after {
    opacity: 0;
}

.hamburger {
    display: block;
    position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    background: var(--clr-accent);
    width: 2em;
    height: 3px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
}

.hamburger::before,
.hamburger::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
}

.hamburger::before {
    top: 6px;
}
.hamburger::after {
    bottom: 6px;
}

/* Intro Section */

.intro {
    position: relative;
}

.intro__article {
    position: relative;
}

.intro__img {
    box-shadow: var(--bs);
}

.section__subtitle--intro {
    display: inline-block;
}

.section__article--intro {
    display: inline-block;
}

@media (min-width: 600px) {
    .intro {
        display: grid;
        width: min-content;
        margin: 0 auto;
        grid-column-gap: 1em;
        grid-template-areas:
            "img title"
            "img subtitle";
        grid-template-columns: min-content max-content;
    }

    .intro__article {
        display: grid;
        width: min-content;
        margin: 0 auto;
        grid-column-gap: 1em;
        grid-template-areas:
            "title"
            "article";
        grid-template-columns: max-content max-content;
    }

    .intro__img {
        grid-area: img;
        min-width: 250px;
        position: relative;
        z-index: 2;
    }

    .section__subtitle--intro {
        align-self: start;
        grid-column: -1 / 1;
        grid-row: 2;
        text-align: right;
        position: relative;
        left: -1.5em;
        width: calc(100% + 1.5em);
    }

    .section__article--intro {
        align-self: start;
        grid-column: -1 / 1;
        grid-row: 2;
        text-align: center;
        position: relative;
        left: -1.5em;
        width: calc(100% + 1.5em);
    }
}

/* My Services Section */

.my-services {
    background-color: var(--clr-accent-darkest);
    background-image: url(../img/services-bg.jpg);
    background-size: cover;
    background-blend-mode: multiply;
    color: var(--clr-light);
    text-align: center;
}

.section__title--services {
    color: var(--clr-accent);
    position: relative;
}

.section__title--services::after {
    content: "";
    display: block;
    width: 2em;
    height: 1px;
    margin: 0.5em auto 1em;
    background: var(--clr-light);
    opacity: 0.25;
}

.services {
    margin-bottom: 3em;
}

.service {
    max-width: 500px;
    margin: 0 auto;
    /*display: inline;        /* was blank, this */
    /*text-align: justify;*/
}

/*
.justify-paragraph {
    text-align: justify;
}
*/

.skills {
    max-width: 1300px;
    margin: 0 auto 3em;
}

@media (min-width: 1000px) {
    .services {
        display: flex; /* flex, block */
        max-width: 1500px; /* 1300px, 1400px */
        margin-left: auto;
        margin-right: auto;
    }

    .service + .service {
        margin-left: 2em;
    }
}

/* About Me Section */

.about-me {
    max-width: 1500px;
    margin: 0 auto;
}

.about-me__img {
    box-shadow: var(--bs);
}

@media (min-width: 900px) {
    .about-me {
        display: grid;
        grid-template-columns: 1fr 350px;
        grid-template-areas:
            "title img"
            "subtitle img"
            "text img";
        grid-column-gap: 2em;
    }

    .section__title--about {
        grid-area: title;
    }

    .section__subtitle--about {
        grid-column: 1 / -1;
        grid-row: 2;
        position: relative;
        left: -1em;
        width: calc(58% + 2em);
        padding-left: 1em;
        padding-right: calc(510px + 4em);
    }

    .about-me__portrait {
        grid-area: img;
        position: relative;
        z-index: 2;
    }
}

.about-me__portrait {
    background: var(--clr-light);
    /*overflow: hidden;*/
}

.about-me__img {
    transition: transform 750ms cubic-bezier(0.5, 0, 0.5, 1), opacity 250ms linear;
}

.about-me__portrait:focus {
    position: relative;
    z-index: 2;
}

.about-me__img:hover,
.about-me__portrait:focus .about-me__img {
    /*transform: scale(1.2);*/
    opacity: 0.5;
}

/* My Work Section */

.my-work {
    background-color: var(--clr-dark);
    color: var(--clr-light);
    text-align: center;
}

.portfolio {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
}

.portfolio__item {
    background: var(--clr-accent);
    overflow: hidden;
    position: relative;
}

.portfolio__img {
    max-width: 100%;
    min-width: 100%;
    transition: transform 750ms cubic-bezier(0.5, 0, 0.5, 1), opacity 250ms linear;
}

.portfolio__img__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: var(--clr-light);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
}

.portfolio__item:hover .portfolio__img__overlay,
.portfolio__item:focus .portfolio__img__overlay {
    opacity: 1;
    z-index: 1;
}

.portfolio__img__title {
    font-size: 2em;
    font-weight: bold;
}

.portfolio__img__description {
    font-size: 1.25em;
    margin-top: 0.25em;
}

.portfolio__item:focus {
    position: relative;
    z-index: 2;
}

.portfolio__item:hover .portfolio__img,
.portfolio__item:focus .portfolio__img {
    transform: scale(1.2);
    filter: brightness(70%);
    opacity: 0.5;
}

.portfolio__videos {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    padding: 10px;
}

.portfolio__videos .video {
    height: 250px;
    width: 250px;
    border: 3px solid var(--clr-dark);
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.7);
    overflow: hidden;
}

.portfolio__videos .video video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: 0.2s linear;
}

.portfolio__videos .video:hover {
    border: 3px solid var(--clr-accent-dark);
}

/*
.portfolio__videos .video:hover video {
    transform: scale(1.1);
}
*/

.portfolio__popup_video {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background: rgba(0, 0, 0, 0.7);
    height: 100%;
    width: 100%;
    display: none;
}

.portfolio__popup_video video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 95%;
    border-radius: 5px;
    border: 3px solid var(--clr-light);
    object-fit: cover;
}

.portfolio__popup_video span {
    position: absolute;
    top: 5px;
    right: 20px;
    font-size: 50px;
    color: var(--clr-light);
    font-weight: bolder;
    z-index: 100;
    cursor: pointer;
}

.portfolio__popup_video .video_mask {
    width: 100%;
    height: 100%;
    padding: 1rem;
}

@media (max-width: 1000px) {
    .portfolio__popup_video video {
        width: 95%;
        height: 95%;
    }
}

/* Blogs Section */

.d-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(440px, 1fr));
}

.section {
    padding-block: 5rem;
    text-align: center;
}

.section__title--blogs {
    text-align: center;
    margin-bottom: 1em;
}

.featured-articles {
    padding-block: 5rem;
}

.section-header-offset {
    margin-top: 0rem;
}

.featured-articles-container,
.featured-content {
    gap: var(--gap);
}

.headline-banner {
    background-color: var(--clr-accent);
    display: flex;
    align-items: center;
    gap: var(--gap);
    font-size: var(--fs-h3);
}

.headline {
    color: var(--clr-accent);
    font-size: 1rem;
    text-transform: uppercase;
    text-align: center;
    padding: 0.4rem;
    height: 100%;
}

.headline span {
    height: inherit;
}

.fancy-border {
    position: relative;
    overflow: hidden;
}

.fancy-border::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 100%;
    background: var(--clr-light);
    background-size: 50% 100%;
    z-index: 5;
}

.fancy-border span {
    position: relative;
    z-index: 10;
    display: inline-flex;
    padding: 0.6rem 1.5rem;
    background-color: var(--clr-dark);
}

.article {
    position: relative;
    min-height: var(--item-min-height-md);
}

.article-image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.25s;
}

.article-category {
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding: 1rem;
    font-size: 1rem;
    background-color: var(--clr-dark);
    color: var(--clr-accent);
    text-transform: uppercase;
    z-index: 10;
}

.article-data-container {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 2rem 1.5rem;
    overflow: hidden;
    background-color: var(--clr-transparent-dark);
    z-index: 10;
    width: calc(100% - 3rem);
    transition: background-color 0.5s;
}

.article:hover .article-data-container {
    background-color: var(--hover-dark-color);
    color: var(--hover-light-color);
}

.article:hover .article-data-spacer {
    background-color: var(--hover-light-color);
}

.article-data {
    display: flex;
    align-items: center;
    gap: var(--gap);
    color: var(--clr-light);
    font-size: var(--fs-body);
    margin-bottom: 1rem;
}

.article-data-spacer {
    width: 0.5rem;
    height: 0.5rem;
    background-color: var(--clr-light);
    transform: rotate(45deg);
}

.title {
    color: var(--clr-light);
}

.article-title {
    font-size: var(--fs-h3);
}

/* Footer */

.footer {
    background: #111;
    color: var(--clr-accent);
    text-align: center;
    padding: 2.5em 0;
    font-size: var(--fs-h3);
}

.footer a {
    color: inherit;
    text-decoration: none;
}

.footer__link {
    font-weight: var(--fw-bold);
}

.footer__link:hover,
.social-list__link:hover {
    opacity: 0.7;
}

.footer__link:hover {
    text-decoration: underline;
}

.social-list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 2em 0 -1.5em;
    padding: 0;
}

.social-list__item {
    margin: 0 0.5em;
}

.social-list__link {
    padding: 0.5em;
}

/* Individual Portfolio Summary */

.summary {
    background: var(--clr-dark);
    color: var(--clr-light);
}

.portfolio-item-summary {
    padding: 0em 4em 2em;
    /*max-width: 800px;*/
    margin: 0 auto;
    background-color: var(--clr-light);
    color: var(--clr-dark);
    /*font-weight: 1000;*/
}

.portfolio-item-summary p {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

/* Individual Portfolio Gallery */

.gallery {
    margin: 0;
    padding: 2em 2em 0em;
    /*height: 60vh;*/
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--clr-light);
}

.slider {
    width: 800px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: var(--bs);
}

.slides {
    width: 500%;
    height: 500px;
    display: flex;
    background: var(--clr-dark);
}

@media (max-width: 1100px) {
    .slider {
        min-width: 800px;
        height: 500px;
        border-radius: 10px;
        overflow: hidden;
    }
}

.slides input {
    display: none;
}

.slide {
    width: 20%;
    transition: 2s;
}

.slide img {
    max-width: 800px;
    max-height: 500px;
    margin-right: auto;
    margin-left: auto;
}

.slide video {
    max-width: 800px;
    max-height: 500px;
    margin-right: auto;
    margin-left: auto;
}

.navigation-manual {
    position: relative;
    /*width: 800px;*/
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid var(--clr-accent);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background: var(--clr-accent);
}

#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -20%;
}

#radio3:checked ~ .first {
    margin-left: -40%;
}

.navigation-auto {
    position: absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: 460px;
}

.navigation-auto div {
    border: 2px solid var(--clr-accent);
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.navigation-auto div:not(:last-child) {
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
    background: var(--clr-accent);
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
    background: var(--clr-accent);
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
    background: var(--clr-accent);
}

/* Individual Portfolio Info */

.info {
    background: var(--clr-light);
    color: var(--clr-dark);
}

.portfolio-item-details {
    padding: 0em 2em;
    max-width: 1000px;
    margin: 0 auto;
}

.portfolio-item-details p {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.portfolio-item-link {
    padding: 2em 2em 1em;
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
}

.portfolio-item-links {
    padding: 2em 2em 1em;
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
}

.play-link {
    padding: 0 2em 2em;
}

@media (min-width: 600px) {
    .portfolio-item-links {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
        grid-template-areas: "playLink repoLink";
    }

    .play-link {
        padding: 0;
        grid-area: playLink;
    }

    .repo-link {
        grid-area: repoLink;
    }
}

.portfolio-item-links-add {
    padding: 2em 2em 1em;
    max-width: 650px;
    margin: 0 auto;
    text-align: center;
}

.additional-link-1 {
    padding: 0 0 2em;
}

.additional-link-2 {
    padding: 0 0 2em;
}

@media (min-width: 760px) {
    .portfolio-item-links-add {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 10px;
        grid-template-areas: "additionalLink1 additionalLink2 additionalLink3";
    }

    .additional-link-1 {
        padding: 0;
        grid-area: additionalLink1;
    }

    .additional-link-2 {
        grid-area: additionalLink2;
    }

    .additional-link-3 {
        grid-area: additionalLink3;
    }
}

/* Individual Portfolio Other Projects */

.other-projects {
    background: var(--clr-dark);
    color: var(--clr-light);
}

.portfolio-item-other-projects {
    padding: 0em 4em 5em;
    /*max-width: 800px;*/
    margin: 0 auto;
    background-color: var(--clr-light);
    color: var(--clr-dark);
    /*font-weight: 1000;*/
}

.portfolio-item-other-projects p {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

/* Article Item */

.article {
    background: var(--clr-light);
    color: var(--clr-dark);
}

.article-item-details {
    padding: 0em 2em 3em;
    max-width: 1300px;
    margin: 0 auto;
}

.article-item-details p {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}

.article-item-details h3 {
    padding: 1.5em 0em 0em;
}

.article-image-block {
    overflow-x: scroll;
    overflow: auto;
    margin-bottom: 2em;
}

.article-image-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 1em 0em 0em;
    max-width: 1300px;
    overflow: hidden;
}

@media (max-width: 1000px) {
    .article-image-center {
        height: 400px;
        object-fit: contain;
        overflow: hidden;
    }
}

.article-video-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 2em 0em 1em;
    max-width: 1300px;
    overflow: hidden;
}

@media (max-width: 1400px) {
    .article-video-center {
        height: 400px;
        object-fit: contain;
        overflow: hidden;
    }
}

@media (max-width: 800px) {
    .article-video-center {
        height: 325px;
        object-fit: contain;
        overflow: hidden;
    }
}

@media (max-width: 650px) {
    .article-video-center {
        height: 200px;
        object-fit: contain;
        overflow: hidden;
    }
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: var(--clr-dark);
    color: var(--clr-light);
    text-align: center;
    padding: 2px;
    border-radius: 6px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
    width: 200px;
    bottom: 120%;
    left: 50%;
    margin-left: -100px; /* Use half of the width (120/2 = 60), to center the tooltip */
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}
